[user]
	name = Aamaruvi Yogamani
	email = 38222826+Technical27@users.noreply.github.com
	signingkey = F930CFBFF5D7FDC3
[credential]
	helper = /usr/bin/git-credential-libsecret
[commit]
	gpgsign = true
[pull]
	rebase = false
