@define-color gruvbox-bg #282828;
@define-color gruvbox-fg #ebdbb2;
@define-color gruvbox-btn #7c6f64;

@define-color gruvbox-green #8ec07c;
@define-color gruvbox-blue #458588;
@define-color gruvbox-red #fb4934;
@define-color gruvbox-yellow #fabd2f;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: 'JetBrains Mono NerdFont';
  font-size: 15px;
  min-height: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  background-color: @gruvbox-bg;
  color: @gruvbox-fg;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @gruvbox-btn;
  border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  box-shadow: inherit;
  color: @gruvbox-fg;
  background-color: transparent;
}

#workspaces button.focused {
  color: @gruvbox-fg;
}

#workspaces button.urgent {
  background-color: @gruvbox-green;
}

#mode {
  color: @gruvbox-blue;
  margin: 0 4px;
}

#workspaces {
  padding-left: 10px;
}

#tray {
  padding-right: 10px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#wireplumber,
#tray,
#idle_inhibitor,
#window,
#workspaces,
#custom-nixos,
#custom-vpn {
  padding: 0 15px;
  color: @gruvbox-fg;
}

@keyframes blink {
  to {
    background-color: @gruvbox-fg;
    color: @gruvbox-bg;
  }
}

#battery.warning:not(.charging) {
  color: @gruvbox-yellow;
}

#battery.critical:not(.charging) {
  color: @gruvbox-red;
}

#network.disconnected {
  color: @gruvbox-red;
}

#wireplumber.muted {
  color: @gruvbox-yellow;
}

#idle_inhibitor.activated {
  color: @gruvbox-green;
}

#custom-nixos.error {
  color: @gruvbox-red;
}

#custom-nixos.offline {
  color: @gruvbox-red;
}

#custom-nixos.update-available {
  color: @gruvbox-yellow;
}

#custom-vpn.connected {
  color: @gruvbox-green;
}
