configuration {
  modes: [ drun ];
  run-command: "swaymsg exec \"{cmd}\"";
  drun {
    display-name: "Apps";
  }
}

@theme "gruvbox-dark"

window {
  border: 0;
  font: "JetBrains Mono Nerd Font 13";
} 

listview {
  border: 0;
}
